/* Variables */
$font-light: #fff;
$font-soft: #adadad;
$color-golden: #ffaa00;
$font-text: 'Inconsolata', monospace;
$font-title: 'Signika', sans-serif;
$transition: all 1s;

/* Global */

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn-splash {
    border-color: $color-golden;
    color: $font-light;
}

.btn-splash:hover {
    background-color: $color-golden;
    opacity: 1.0;
}

/* Splash */

.splash {
    background-image: url(../images/photo_eq.jpeg);
    background-position: center center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.splash-nav {
    text-align: right;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
    }

    a {
        text-decoration: none;
        color:  $font-light;
        font-family: $font-title;
        font-size: 10px;
    }
}



.splash-inner {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%,-50%);
    text-align: center;
    color: $font-light;
    }

h1 {
    margin: 24px 0;
    font-family: $font-text;
    font-size: 24px;
    font-style: italic;
}

h2 {
    margin: 24px 0;
    font-size: 40px;
    font-family: $font-title;
    
}

/* Services */

.services-inner {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.services-title {
    font-family: $font-text;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.3;
}

.services-title-text {
    font-family: $font-title;
    color: $font-soft;
    font-style: italic;
    font-size: 14px;
}

.services-inner-title {
    font-family: $font-text;
    font-size: 16px;
}

.services-inner-text{
    font-family: $font-title;
    font-size: 12px;
    color: $font-soft;
    line-height: 1.5;
}

.services-inner i {
    font-size: 30px;
    border-style: solid;
    border-color: $color-golden;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-golden;
    border-radius: 50%;
    text-align: center;
}

/* Portfolio */

.portfolio {
    background-color: #f2f2f2;
}

.portfolio-inner {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.portfolio-title {
    font-family: $font-text;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.3;
}

.portfolio-title-text {
    font-family: $font-title;
    color: $font-soft;
    font-style: italic;
    font-size: 14px;
}

.portfolio-image {
    height: 50vh;
    text-align: center;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



.portfolio-inner-title {
    font-family: $font-text;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
}

.portfolio-inner-text {
    font-family: $font-title;
    font-size: 12px;
    color: $font-soft;
    line-height: 1.5;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

